<form class="form-confirm" action="/users/confirm" method="POST">
  <h2 class="form-signin-heading">Welcome</h2>

  
  

  
  
  <button class="btn btn-lg btn-default btn-block" type="submit">Click to Confirm</button>
</form>
