<form class="form-signin" action="/logs/log" method="POST">
  <h2 class="form-signin-heading">enter details</h2>

  <label for="inputUsername" class="sr-only">log type</label>
  <input type="text" id="inputUsername" name="logtype" class="form-control" placeholder="logtype" required>

  <label for="inputLastname" class="sr-only">log Name</label>
  <input type="text" id="inputLastname" name="logname" class="form-control" placeholder="Logname" required>

  <label for="inputstatus" class="sr-only">status</label>
  <input type="text" id="inputstatus" name="status" class="form-control" placeholder="status" required>
  <br/>
  
  <button class="btn btn-lg btn-default btn-block" type="submit">Verify</button>
</form>